@page
@model PizzaPalace.Pages.SideOrders.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>SideOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SideOrder.SideOrderId" />
            <div class="form-group">
                <label asp-for="SideOrder.OrderItemId" class="control-label"></label>
                <select asp-for="SideOrder.OrderItemId" class="form-control" asp-items="ViewBag.OrderItemId"></select>
                <span asp-validation-for="SideOrder.OrderItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SideOrder.SideId" class="control-label"></label>
                <select asp-for="SideOrder.SideId" class="form-control" asp-items="ViewBag.SideId"></select>
                <span asp-validation-for="SideOrder.SideId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
