@page
@model PizzaPalace.Pages.PizzaOrder.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-8">
        <div class="card bg-dark">
            <div class="card-body">
                <h4 class="card-title">Add Pizza</h4>
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PizzaOrder.OrderItemId" hidden="hidden" class="control-label"></label>
                        <input asp-for="PizzaOrder.OrderItemId" readonly="readonly" type="hidden" value="@Model._orderItemId" />
                    </div>
                    <div class="form-group">
                        <label asp-for="PizzaOrder.PizzaId" class="control-label">Choose your pizza</label>
                        <select asp-for="PizzaOrder.PizzaId" class="form-control" asp-items="ViewBag.PizzaId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add to order" class="btn btn-outline-primary" />
                        <a  class="btn btn-secondary" href="@Model._redirectUrl">Back to Order Details</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-4">
    </div>
</div>

<div class="row">
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
