@page
@model PizzaPalace.Pages.PizzaOrder.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PizzaOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PizzaOrder.OrderItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaOrder.OrderItem.OrderItemId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PizzaOrder.Pizza)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PizzaOrder.Pizza.PizzaId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PizzaOrder.PizzaOrderId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
