@page
@model PizzaPalace.Pages.Order.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    var identity = this.User.Identity;
    var name = identity.Name;
}

<h2 >Orders for @name <small>
    <a class="btn btn-outline-primary" asp-page="Create">Create an Order</a>
</small> </h2> 

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                View
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders.Where(u => u.Customer.Email == name))
        {
            <tr>
                <td>
                    @item.OrderDate
                </td>
                <td>
                    <a class="" asp-page="./Details" asp-route-OrderId="@item.OrderId" asp-route-OrderItemId="@Model.OrderItem.FirstOrDefault(u=>u.OrderId==item.OrderId).OrderItemId">View Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>


