@page
@model PizzaPalace.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

@using Microsoft.AspNetCore.Authentication

@{
    var identity = this.User.Identity;
    var name = identity.Name;
    var isAuthenticated = identity.IsAuthenticated;
}

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6">
        <h1 class="text-center">Welcome to Pizza Palace</h1>
        <p class="text-center">
            @if (isAuthenticated)
            {
                <a class="btn btn-outline-primary" asp-page="Order/Create">Create an Order</a>
            }
            else
            {
                <a asp-page="Customer/Create">Register</a>
                <a asp-page="/Login">Login</a>
            }
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>