@page
@model PizzaPalace.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    var identity = this.User.Identity;
    var name = identity.Name;
    var isAuthenticated = identity.IsAuthenticated;
}

@if (isAuthenticated)
{
    <div class="mt-1 mb-1 mr-1 text-light">Welcome @name</div>
    <form class="form-inline" method="post" asp-controller="Login" asp-action="Logout">
        <button class="btn btn-outline-success mt-1 mb-1 mr-1">Logout</button>
    </form>
}
else
{
    <div class="row">
        <div class="col">
        </div>
        <div class="col-md-4 ">
            <h1>
                Login
            </h1>
            <form method="post" asp-controller="Login" asp-action="Login">
                <div class="form-group">
                    <label for="Email">Email address</label>
                    <input class="form-control mt-1 mb-1 mr-1 bg-light" name="Email" id="Email" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input class="form-control mt-1 mb-1 mr-1 bg-light" type="password" name="Password" placeholder="password" required>
                </div>
                <button class="btn btn-outline-success mt-1 mb-1 mr-1">Login</button>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
}
