@page
@model PizzaPalace.Pages.PizzaToppings.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <h3>Are you sure you want to remove this item?</h3>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.PizzaToppings.Topping)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PizzaToppings.Topping.ToppingName)
            </dd>
        </dl>
        <form method="post">
            <input type="hidden" asp-for="PizzaToppings.PizzaToppingId" />
            <input type="submit" value="Delete" class="btn btn-default" />
        </form>
    </div>
    <div class="col"></div>
</div>
