@page
@model PizzaPalace.Pages.PizzaToppings.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>PizzaToppings</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PizzaToppings.PizzaToppingId" />
            <div class="form-group">
                <label asp-for="PizzaToppings.ToppingId" class="control-label"></label>
                <select asp-for="PizzaToppings.ToppingId" class="form-control" asp-items="ViewBag.ToppingId"></select>
                <span asp-validation-for="PizzaToppings.ToppingId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PizzaToppings.PizzaOrderId" class="control-label"></label>
                <select asp-for="PizzaToppings.PizzaOrderId" class="form-control" asp-items="ViewBag.PizzaOrderId"></select>
                <span asp-validation-for="PizzaToppings.PizzaOrderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
